@CHARSET "UTF-8";

/* Liens */
a, a:visited {	
	color: #306495;
	/*background: inherit;*/
	text-decoration: none;
}
a:hover {
	color: #73471B;
	/*background: inherit;*/
	text-decoration: underline;
}

/* Titres */
h1, h2, h3 {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	font-weight: Bold; 	
	padding: 2px;		
	color: #444;	
	cursor: default;
}
h1 {
	font-size: 2.2em;		
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
	font-weight: normal;	
}

/* Champs de formulaires */
input, textarea, select {
	padding: 4px;
	color: #666666;		
	background: #fff;
  	border-width: 1px;
  	border-style: solid;
  	border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4; 
	font: normal 11px Verdana, sans-serif;
}
input[disabled], textarea[disabled], select[disabled] {
	background: #F0F0F0;
	color: #D4D4D4;	
}
div.formTable {
	/*width: 100%;*/
	display: table;
	border-style: none;
	margin-bottom: none;
}
div.formLine {
	display: table-row;
	height: 26px;
}
div.formLabel {
	display: table-cell;
	width: 250px;
	border-style: none;
	text-align: right;
	cursor: default;
}
div.formHelp {
	display: table-cell;
	background: url(../../images/computer/interrogation.gif) no-repeat scroll 50% 30%;
	width: 20px;
	cursor: help;
}
div.formInput {
	/*width: 50%;*/
	display: table-cell;
	border-style: none;
	text-align: left;
}

/* Bouton de formulaire */
input.button { 
	background: linear-gradient(to top, #D9D9DB, #FFFFFF);
	margin:auto 0.25em;
	min-height:2em;
	padding:0 10px;
	cursor:pointer;
	margin-top: 10px;
  	margin-bottom: 10px;
}
input.button.selected {
	background: linear-gradient(to bottom, #D9D9DB, #FFFFFF);
	border-color: #A1A1A1 #D4D4D4 #D4D4D4 #A1A1A1;
}
.buttonSeparator {
	background: url('../../images/computer/separator.png');
}

/* Bouton sans marge dessus et dessous */
div.formInput input.button {
	margin: 0px 10px;
}

/* Champs de formulaire */
input[type="text"].xsmall {
    width: 50px;
}

input[type="text"].small {
    width: 100px;
}

input[type="text"].medium {
    width: 150px;
}

input[type="text"].large {
    width: 250px;
}

input[type="text"].xlarge {
    width: 500px;
}
