@CHARSET "UTF-8";

/* Haut de page */
#content h2 {
	margin-bottom: 10px;
}
#searchField {
	margin-left: 2px;
}

/* Liste des genres/dossiers/notes */
div#listGenres, div#listFolders, div#listPopularity {
	float: left;
	overflow-y: auto;
	height: 0px; /* calculée en JS */
	width: 13%;
	
}
div#listGenres li, div#listFolders li, div#listPopularity li {
	cursor: pointer;
}

div#listGenres ul, div#listFolders ul, div#listPopularity ul {
	list-style-type: none;
	border-right: 1px solid gray;
}

/* Liste des films */
div#listMovies {
	float: left;
	overflow-y: auto;
	height: 0px; /* calculée en JS */
	width: 87%;
}
div#listMovies.searchList {
	width: 100%;
}

/* Films affichés : */

/* Par défaut, les films sont masqués */
div#listMovies div.movie {
	display: none;
}
/* S'ils doivent être affichés, ils ont la classe 'showMovie' */
div#listMovies div.movie.showMovie {
	display: block;
}
/* Si le filtre "à voir"/"déjà vu"/"jamais vu" est activé, les films sont tous cachés ... */
div#listMovies.toSee div.movie,
div#listMovies.alreadySeen div.movie,
div#listMovies.neverSeen div.movie {
	display: none;
}
/* ... sauf s'ils sont "à voir"/"déjà vu" et que le filtre correspondant est sélectionné ! */
div#listMovies.toSee div.movie.toSee.showMovie,
div#listMovies.alreadySeen div.movie.alreadySeen.showMovie,
div#listMovies.neverSeen div.movie.neverSeen.showMovie {
	display: block;
}

/* Style icones */
div#listMovies.iconStyle div.movie {
	float: left;
	height: 340px;
	width: 190px;
	cursor: pointer;
}
div#listMovies.iconStyle div.movie img.poster {
	width: 170px;
	padding-left: 10px;
	padding-right: 10px;
}
div#listMovies.iconStyle div.movie div.movieTitle {
	font-weight: bold;
	text-align: center;
}

/* Style liste */
div#listMovies.listStyle div.movie {
	cursor: pointer;
}
div#listMovies.listStyle div.movie img.poster {
	display: none;
}
div#listMovies.listStyle div.movie div.movieTitle {
}

/* Infos d'un film */
div#movieInfos img.poster {
	height: 250px;
}
div#movieInfos div#movieDetails {
	clear: both;
}

/* Notes */
img.ratingContainer {
	position: relative;
	height: 14px;
	width: 75px;
	
}
img.ratingContainer.rating0 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: -75px;
}
img.ratingContainer.rating05 {
	background-image: url(../../images/computer/stars_half.png);
	background-position: -60px;
}
img.ratingContainer.rating1 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: -60px;
}
img.ratingContainer.rating15 {
	background-image: url(../../images/computer/stars_half.png);
	background-position: -45px;
}
img.ratingContainer.rating2 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: -45px;
}
img.ratingContainer.rating25 {
	background-image: url(../../images/computer/stars_half.png);
	background-position: -30px;
}
img.ratingContainer.rating3 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: -30px;
}
img.ratingContainer.rating35 {
	background-image: url(../../images/computer/stars_half.png);
	background-position: -15px;
}
img.ratingContainer.rating4 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: -15px;
}
img.ratingContainer.rating45 {
	background-image: url(../../images/computer/stars_half.png);
	background-position: 0;
}
img.ratingContainer.rating5 {
	background-image: url(../../images/computer/stars_full.png);
	background-position: 0;
}

/* Recherche d'infos */
table#searchInfosResults img.poster {
	height: 250px;
}

/* Listes */
.list ul, .list .listUl {
	font-size: 90%;
	text-transform: capitalize;
	list-style-type: none;
	margin-top: 4px;
	margin-bottom: 4spx;
	padding-left:0;
}
.list#listPopularity ul {
	text-transform: none;
}

.list ul li, .list .listUl .listLi {
	text-indent: 10px;
	padding-right: 15px;
}

.list ul li.selected, .list .listUl .listLi.selected {
	background: linear-gradient(to bottom, #5CA0EC, #205CCB) !important;
	color: #E8E8E8;
	font-weight: bold;
}

.list ul li:hover, .list .listUl .listLi:hover {
	background: linear-gradient(to bottom, #C2C2C2, #8F8F8F);
	color: white;
}